.box1 {
 
    height: 800px;
    width: 1600px;
    display: flex;

        background: linear-gradient(to right, rgba(135, 71, 20, 0.901) 25%, rgba(23, 20, 220, 0.546) 50%, rgba(3, 18, 65, 0.86) 50%, rgba(5, 23, 79, 0.871) 100%);
  
      margin-top: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  }


  .box > div {
    flex: 1;
 
  }

  .admin{
    
    place-items: center
  }

  .background::before {
    content: "";
    background-image: url('../HomePageAdmin/background.jpg');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
  }
  
  .background {
    background-color: transparent; /* Set the background color to transparent */
  }
  
  

  
.user{

    display: block;
}

      .user > img{  
        margin-top: 50px;
        margin-left: 150px;
      }


      .user > p{
        margin-top: 50px;
        margin-left: 350px;
        font-size: 32pt;
        font-weight: 500;
        color: white;


      }

      .butt > button {
        margin-top: 20px;
        margin-left: 220px;
        font-size: 25pt;
        font-weight: 1000;
        height: 80px;
        width: 350px;
        border-radius: 20px;
        background-color: #014ae979; /* Default background color */
        color: #efdbdb; /* Default text color */
        transition: background-color 0.3s, transform 0.3s;
      
        /* Apply styles when the button is hovered */
        &:hover {
          background-color: #79ade5; /* New background color on hover */
          transform: scale(1.1);
          color: #060101; /* Increase size by 10% on hover */
        }
      }
      

   .admin >p{
    
    margin-top: 40px;
    margin-left: 500px;
        font-size: 32pt;
        font-weight: 500;
        color: white;

   }




      .admin > input{
        margin-top: 60px;
    margin-left: 300px;
            margin-top: 40px;
            width: 500px;
            height: 60px;
            font-size: 20pt;
            border-radius: 20px;

      }


      .admin >button{
        margin-top: 100px;
        margin-left: 400px;
        font-size: 25pt;
        font-weight: 1000;
        height: 80px;
        width: 350px;
        border-radius: 20px;
        background-color: #014ae979; /* Default background color */
        color: #efdbdb; /* Default text color */
        transition: background-color 0.3s, transform 0.3s;
      
        /* Apply styles when the button is hovered */
        &:hover {
          background-color: #79ade5; /* New background color on hover */
          transform: scale(1.1);
          color: #060101; /* Increase size by 10% on hover */
        }


      }